<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/vue.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/axios.js" charset="utf-8"></script>
</head>
<body>
    <div id="selector">
        <yyy v-for="item in items" v-bind:it="item"></yyy>
        <div>{{info.name}}</div>
        <div>{{currentTime1()}}</div>
    </div>
</body>
<script>

    Vue.component("yyy",{
        props:['it'],
        template: '<li>{{it}}</li>'
    })

    var vm = new Vue({
       el:"#selector",
        // data:{
        //     items:["java","c","c++"]
        // },
        data(){
           return{
               items:["java","c","c++"],
               info:{
                   name:null
               }
           }
        },
        mounted(){//ES6特性
           axios.get('data.json').then(response=>
               (
                    this.info = response.data
               ));
        },
        methods:{
           currentTime1:function () {
               return Date.now();
           }
        },
        computed:{  //计算属性
            currentTime1:function () {
                return Date.now();
            }
        }
    });
</script>
</html>